.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}


.content {
  max-width: 700px;
}

.hello {
  letter-spacing: 4px;
  color: #2dd4bf;
  font-size: 14px;
  margin-bottom: 10px;
}

.name {
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: 800;
  margin: 0;
}

.name span {
  background: linear-gradient(90deg, #2dd4bf, #60a5fa, #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #cbd5f5;
}

.description {
  margin: 25px auto;
  max-width: 550px;
  line-height: 1.7;
  color: #94a3b8;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.primary {
  background: #2dd4bf;
  color: #020617;
  border: none;
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.secondary {
  background: transparent;
  color: #2dd4bf;
  border: 1px solid #2dd4bf;
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.primary:hover,
.secondary:hover {
  transform: translateY(-3px);
}
.secondary:hover{
  background: #2dd4bf;
  color: #020617;
  border:none
}
.socials {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 40px;
}

.socials a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials img {
  width: 20px;
}

.socials a:hover {
  border: 1px solid #2dd4bf;
}

.scroll {
  margin-top: 40px;
  font-size: 14px;
  color: #64748b;
  animation: floatScroll 2s ease-in-out infinite;
}

@keyframes floatScroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}

.cursor {
  color: #2dd4bf;
  animation: blink 1s infinite;
  margin-left: 3px;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 100%;
    padding: 10px 187px 10px 213px;
  }

  .hello {
    font-size: 12px;
    letter-spacing: 3px;
  }

  .name {
    font-size: clamp(2.2rem, 9vw, 3rem);
  }

  .role {
    font-size: 1.1rem;
  }

  /* .description {
    font-size: 14px;
    margin: 18px auto;
    max-width: 327px;
  } */

  .buttons {
    flex-direction: column;
    gap: 14px;
  }

  .primary,
  .secondary {
    width: 100%;
    max-width: 260px;
    margin: auto;
    padding: 12px 0;
    font-size: 15px;
  }

  .socials {
    margin-top: 28px;
  }

  .scroll {
    margin-top: 24px;
    font-size: 13px;
  }
}
